{namespace jve=JVelletti\JvEvents\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<div class="list-unstyled">
			<f:flashMessages />
		</div>

		<div  class="tx_jvranking" >
			<f:if condition="{count} > 0">
				<f:then>
					<f:if condition="{changeableAnswers} < 5">
						<div class="alert alert-secondary">
							<span class="fa fa-info-circle"></span> Für Optionen, die nicht aktivierbar sind, bitte den [?] Button vor der Option anklicken, um zu erfahren, warum die Option deaktiviert ist.
						</div>
					</f:if>
					<f:form class="form-horizontal"  action="save" name="ranking" id="jv_ranking_form">
						<f:form.hidden name="organizer" value="{organizer.uid}"></f:form.hidden>
						<f:if condition="{organizer.uid} == {user.uid}">
							<f:else>
								<div class="alert alert-warning">
							<span class="position-right">
								<span class="btn btn-secondary btn-sm right" data-toggle="collapse" data-target=".ranking-debug" title="debug">
									<span class="fa fa-search small"></span>
								</span>
							</span>

									Ranking für Veranstalter: {organizer.uid} - {organizer.name}
								</div>
							</f:else>
						</f:if>
						<div class="row my-3 py-2 bg-gradient-secondary  text-white font-weight-bold">

							<div class="col-3 col-sm-2 col-md-1">

							</div>
							<div class="col-9 com-sm-6 col-md-7">Deine Festlegung </div>
							<div class="col-6 offset-3 col-sm-6 offset-sm-2 col-md-2 offset-md-0">
								Gilt bis
							</div>
							<div class="col-3 col-sm-2">
								Status
							</div>

						</div>

						<f:for each="{questions}" as="question">

							<div class="row my-3 {f:if(condition: question.answer.readOnly, then: ' opacity-2')} {f:if(condition: question.hidden , then: ' opacity-1')}">

								<div class="col-3 col-sm-2 col-md-1">
							<span data-toggle="modal" data-target="#jv-rangingdesc-{question.uid}" class="btn {f:if(condition: question.answer.date, then: 'btn-outline-primary' , else: 'btn-primary')}  btn-xs " href="#">
								<i class="fas fa-question-circle "> </i>
							</span>
								</div>
								<div class="col-9 com-sm-8 col-md-7 {f:if(condition: question.answer.date , else: 'font-weight-bold')} {f:if(condition: question.answer.readOnly , then: 'font-weight-light font-italic' )} ">
									{question.question}  {f:if(condition: question.answer.readOnly , then: '({question.answer.readOnly})')}
									<span class="collapse ranking-debug">
								<br />
								{question.answer.debug}
							</span>
								</div>
								<div class="col-6 offset-3 col-sm-6 offset-sm-2 col-md-2 offset-md-0">
									<f:if condition="{question.answer.readOnly}">
										<f:then>
											<f:if condition="{question.answer.date}">
												<f:format.date format="d.m.Y H:i:s">{question.answer.date}</f:format.date>
											</f:if>
										</f:then>
										<f:else>
											<f:format.date format="d.m.Y H:i:s">+{question.validUntil} days</f:format.date>
										</f:else>
									</f:if>

								</div>
								<div class="col-3 col-sm-2 jv-ranking{question.answer.readOnly}" >
									<f:if condition="{question.answer.readOnly}">
										<f:then>
											<span class="h-100 w-100 d-inline-block position-absolute" style="z-index: 9999" onclick="return true;"></span>
											<input name="tx_jvranking_pi1[questions][{question.uid}]"  {question.answer.readOnly} type="checkbox" {f:if(condition: '{question.answer.answer}' , then : 'checked' )} data-onstyle="success" data-offstyle="secondary" data-toggle="toggle" data-style="ios ">
										</f:then>
										<f:else>
											<input name="tx_jvranking_pi1[questions][{question.uid}]"  {question.answer.readOnly} type="checkbox" {f:if(condition: '{question.answer.answer}' , then : 'checked' )} data-onstyle="success" data-offstyle="secondary" data-toggle="toggle" data-style="ios ">
										</f:else>
									</f:if>
								</div>


							</div>
							<f:variable name="modalBody">
								<f:format.nl2br>{question.description}</f:format.nl2br>
								<br>
								<br>
								<b>Hinweis:</b><br>Nach dem Speichern gültig für {question.validUntil} Tage
							</f:variable>
							<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'jv-rangingdesc-{question.uid}', 'modalTitle': 'Erläuterung', 'modalBody': modalBody, 'modalFooter': '',  'settings': settings}" />
						</f:for>
						<f:if condition="{changeableAnswers}">
							<f:then>
								<div class="text-left col-auto alert alert-secondary">
									Du kannst {changeableAnswers} {f:if(condition: '{changeableAnswers} > 1' , then: 'Optionen' , else: 'Option')} ändern oder setzen.
								</div>
								<div class="text-right  col-auto">
									<f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.save', default: 'Save')}" />
								</div>
							</f:then>
							<f:else>
								<div class="alert alert-info">Alle möglichen Optionen sind gesetzt. Prima!</div>
								<f:if condition="{organizer.sorting} > 80">
									<div class="text-left col-auto alert alert-secondary">
										Du kannst dein Ranking aktualisieren.
									</div>
									<div class="text-right  col-auto">
										<f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.save', default: 'Save')}" />
									</div>
								</f:if>
							</f:else>
						</f:if>

					</f:form>


					<div class="alert alert-secondary px-3 py-1 mt-3 small row">
						<div class="col-sm-6 col-12 text-left">Ranking Value: {organizer.sorting} </div>
						<div class="col-sm-6 col-12 text-right">Your ID: U-{user.uid}-O-{organizer.uid}-P-{organizer.pid}-G<f:for each="{organizer.organizerCategory}" as="cat">-{cat.uid}</f:for></div>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-danger">
						<f:if condition="{organizer.uid} < 1"><span class="fa fa-exclamation-triangle"></span> Organizer ID:  Not Set<br></f:if>
						<f:if condition="{user.uid} < 1"><span class="fa fa-exclamation-triangle"></span> User ID: Not Set<br></f:if>
						<f:if condition="{count} < 1"><span class="fa fa-exclamation-triangle"></span> Questions: Not found<br></f:if>
						<f:if condition="{storagePID} < 1"><span class="fa fa-exclamation-triangle"></span> Storage PID:  Not Set<br></f:if>
					</div>

				</f:else>
			</f:if>

		</div>

	</f:section>
</html>